<h1>Hello, world! and clusters</h1>
<p *ngIf="!markers"><em>Loading...</em></p>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat"
         [longitude]="lng"
         [zoom]="zoom"
         (zoomChange)="zoomChange($event)"
         (boundsChange)="boundsChange($event)"
         (mapReady)="mapReady($event)"
         (idle)="idle()">
    <agm-overlay *ngFor="let marker of markers;let i=index"
                 [latitude]="marker.lat"
                 [longitude]="marker.lng">
      <div class="block">
        <strong class="label">{{marker.count}}</strong>
      </div> 
    </agm-overlay>
</agm-map>
